p.first
{
text-align:center;
color:red;
background-color:orange;
}
p.second
{
text-align:left;
color:white;
background-color:black;
}
p.third
{
text-align:right;
color:orange;
background-color:red;
}
#p
{
direction:rtl;
unicode-bidi: bidi-override;
color:yellow;
background-color:green;
}
.p
{
vertical-align:baseline;
color:pink;
background-color:cyan;
}